.loader {
    position:fixed;
    top:50%;
    left:50%;
    z-index:1000;
    transform: translate(-50%, -50%);
}

.loaderTitle {
    position:fixed;
    top:50%;
    left:50%;
    z-index:1000;
    transform: translate(-50%, 450%);
}

.dim
{
    background:#000;
    opacity:0.5;
    position:fixed; /* important to use fixed, not absolute */
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:block;
    z-index:500; /* may not be necessary */
}