<div class="m-4">

  <div class="row">
    <div class="col-md-6 login-container">

      <h2 style="margin: auto">My Account</h2>

      <div class="btn-group">
        <button (click)="toggleEditMode()" class="m-4 btn btn-warning" id="btnEdit">Edit Info</button>
        <button [routerLink]="['/account-dashboard/change-password']" class="m-4 btn btn-info">Change Password</button>
        <button (click)="deleteAccount()" class="m-4 btn btn-danger">Delete Account</button>
      </div>

      <form [formGroup]="updateAccountForm" (ngSubmit)="updateAccount()">
        <div>
          <label for="firstName">First Name:</label>
          <input type="text" formControlName="firstName" id="firstName">
        </div>
        <div>
          <label for="lastName">Last Name:</label>
          <input type="text" formControlName="lastName" id="lastName">
        </div>
        <div>
          <label for="gender">Gender:</label>
          <ng-select formControlName="gender" id="gender" [items]="genderItems" bindValue="id" bindLabel="title">
          </ng-select>
        </div>
        <button [hidden]="isEditMode" type="submit" class="btn btn-success"
          [disabled]="updateAccountForm.invalid">Update</button>
      </form>
    </div>
  </div>

</div>